@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
}

/* HEADER MENU */
.header__logo__suffix {
    text-align: center;
}

.header__menu {
   width: 100%;
   height: calc(100vh - 83.5vh);
}

/* BURGER MENU STYLE */

 #menuToggle{
   display: block;
   position: relative;
   top: 40px;
   margin-left: 40px;
}
 
 #menuToggle a{
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
}
 
 #menuToggle a:hover{
   color: tomato;
}
 
 
 #menuToggle input{
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0;
   z-index: 2;
   
   -webkit-touch-callout: none;
}
 
 #menuToggle span{
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #000000;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    opacity: 0.55s ease;
}
 
 #menuToggle span:first-child{
   transform-origin: 0% 0%;
}
 
 #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 90%;
}

 #menuToggle input:checked ~ span{
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
}

 #menuToggle input:checked ~ span:nth-last-child(3){
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
}

 #menuToggle input:checked ~ span:nth-last-child(2){
   transform: rotate(-45deg) translate(0, -1px);
}
 
 #menu{
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
      
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
 
 #menu li{
   padding: 10px 0;
   font-size: 22px;
}
 
 #menuToggle input:checked ~ ul{
   transform: none;
}
/* //////////////////////////////////////// */




 
/* INTRO */
.intro {
    display: flex;
    justify-content: space-between;
}
.philip__martin {
    width: 50%;
    height: 83.5vh;
}


/* HEADER INTRO BACKGROUND */
.header__intro__background {
    width: 50%;
    height: 83.5vh;
    background-color: black;
    padding-top: 108px;
    padding-left: 110px;
    padding-bottom: 150px;
    padding-right: 110px;
}

.background__header__date__lifestyle {
    color: white;
    display: flex;
    justify-content: space-between;
}

.background__header__date {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 7px;
    color: #FFFFFF;
}

.background__header__lifestyle {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-transform: uppercase;
}

.background__header__intro__text {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 50px;
}

.background__header__intro__text__minor {
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 20px;
}


.btn__read__more {
    width: 198px;
    height: 55px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-top: 110px;
}


/* CONTAINER */

.container{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}


/* SECTION FIRST */

.first__section {
    width: 100%;
}

.featured__title {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
    text-transform: uppercase;
    margin: 60px auto 20px;
}

.first__section__image__main {
    display: flex;
    justify-content: space-between;
}


.section__date__lifestyle {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
}

.date {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.lifestyle {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
    text-decoration: underline;
    text-transform: uppercase;
}

.section__text {
    width: 557px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #1F1F1D;
    margin: 30px auto 0;
}

.section__text__minor {
    width: 557px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
    margin: 15px auto 0;
}

.first__section__image {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

.section__subtitle {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
    margin: 20px auto 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 70px;
}

.btn-see-all {
    width: 238px;
    height: 42px;
    background-color: black;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
}


/* SECOND SECTION */

.second__section {
    display: flex;
    justify-content: space-between;
}

.magazine-coffe {
    width: 50%;
}

.second__section__background {
    width: 50%;
    height: 384px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second__section__background__text {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 335px;
    height: 51px;
}

.btn__subscribe__now {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    border: 1px solid white;
    width: 198px;
    height: 42px;
    text-transform: uppercase;
}

.interviews__title {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
    text-transform: uppercase;
    margin: 60px auto 0;
}

.second__section__image {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
}


/* THIRD SERCTION */

.news__title {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
    text-transform: uppercase;
    margin: 60px auto 0;
}

.third__section__image {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 163px;
    position: relative;
    background-color: black; 
}

footer .footer__img {
    background-color: black; 
}
    
footer .footer__text {
      color: #FFFFFF;
      position: absolute;
      bottom: 10px;
      font-size: 12px; 
}







/*Media*/


@media (max-width: 1200px) {
    .philip__martin {
        width: 50%;
        height: 570px;
    }
    .header__intro__background {
        width: 50%;
        height: 570px;
    }
}

@media (max-width: 970px) {
    .philip__martin {
        width: 50%;
        height: 570px;
    }
    .header__intro__background {
        width: 50%;
        height: 570px;
    }
    .background__header__btn {
        width: 198px;
        height: 55px;
    }
 
}