.block {
    display: flex;
    justify-content: space-around;
}

.block1, .block2, .block3 {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin: 100px auto;
}

@media(max-width: 400px) {
        .block1, .block2, .block3 {
        width: 80px;
        height: 200px;
        border: 2px solid black;
        margin: 0 auto;
    }
}