@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(60, 103, 158);
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}


/* FIRST BLOCK */
.first__block {
    width: 100%;
    height: 32vh;
    border: 1px solid  rgb(60, 103, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}


.day {
    color: rgb(60, 103, 158);
    font-size: 44px;
    padding: 10px;
}
.times{
    color: rgb(60, 103, 158);
    font-size: 90px;
}


/* SECOND BLOCK */
.second__block {
    width: 100%;
    height: 32vh;
    border: 1px solid rgb(60, 103, 158);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Spicy Rice', cursive;
}  

.stopwatch {
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.timer {
    border: 1px solid rgb(60, 103, 158);
    border-radius: 5px;
    width: 100%;
    height: 40%;
    color: rgb(60, 103, 158);
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    width: 90px;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgb(60, 103, 158);
    background-color: black;
    color:  rgb(42, 78, 124);
    font-size: 16px;
    margin-top: 74px;
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}

.result {
    width: 25%;
    height: 75%;
    border: 1px solid rgb(60, 103, 158);
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 32px;
    overflow-x: hidden;
}


/* THIRD BLOCK */
.third__block {
    width: 100%;
    height: 32vh;
    border: 1px solid rgb(60, 103, 158);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Spicy Rice', cursive;
}


.stowatch__minutes {
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.timer__stopwatch {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.counting {
    width: 100px;
    height: 60px;
    font-size: 60px;
    text-align: center;
}

.text__minutes {
    text-align: center;
    width: 100px;
    height: 60px;
    font-size: 20px;
}

.btn__plus__minus {
    margin-top: -80px;
    color: rgb(60, 103, 158);
    display: flex;
    font-family: 'Spicy Rice', cursive;
}

.countdown {
    text-align: center;
    font-size: 45px;
}

.timer__btn {
    display: flex;
    justify-content: center;
}