@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    font-family: 'Baloo Chettan 2', cursive;
}


.box {
    display: grid;
    justify-items: center;
}
.text {
    margin: 60px auto;
    font-size: 36px;
}

input {
    padding-left: 10px;
}

#button {
    background-color: rgb(74, 74, 255);
    color: white;
    height: 45px;
    width: 45%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    align-content: center;
    
}

#first__name {
    color: rgb(0, 0, 0);;
    height: 45px;
    width: 45%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    margin-bottom: 30px;

}

#last__name {
    color: rgb(0, 0, 0);
    height: 45px;
    width: 45%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    margin-bottom: 30px;
}

#email {
    color:  rgb(0, 0, 0);;
    height: 45px;
    width: 45%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    margin-bottom: 30px;
}
#phone {
    color:  rgb(0, 0, 0);;
    height: 45px;
    width: 45%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    margin-bottom: 30px;
}

#password {
    color:  rgb(0, 0, 0);;
    height: 45px;
    width: 45%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    margin-bottom: 30px;
}


#block {

    display: none;
    position: fixed;
    left: 430px;
    top:220px;
    width: 120px;
    height: 20px;
    background-color: red;
    color: white;
}